<!doctype html>
<html>
   <body>
      <form action = "http://localhost:5000/success" method = "POST">
	<output>Please Enter Measurement Information</output>
         <p>Measurement Name: <input type = "text" name = "Measurement Name " /></p>

  	<input type="radio" name="Type" value="Integer" checked> Integer (Non-Decimal Values)<br>
  	<input type="radio" name="Type" value="String"> String (Text)<br>
  	<input type="radio" name="Type" value="Float"> Float (Decimal Values)<br>
  	<input type="radio" name="Type" value="Boolean"> Boolean (True/False) 
  	
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>