<!doctype html>
<html>
   <body>
      <form action = "http://localhost:5000/success" method = "POST">
	<output>Please Enter Sequence Information</output>
        <p>Sequence Name: <input type = "text" name = "Sequence Name " /></p>
	<p>Sequence Description(optional): <input type = "text" name = "Sequence Description " /></p>
	<p>Sequence File(optional): <input type = "text" name = "Sequence File " /></p>
  	
        <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>