<!doctype html>
<html>
    <head><title>Welcome!</title>
    <link rel="stylesheet" href='/static/main.css'/>

  </head>
   <body>
	 <header><div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div>
	</header>

	
	<h1>Values Saved</h1> <br>
	 {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th> <output>=</output>
               <td> {{ value }} </td> <br>
            </tr>
         {% endfor %}
 	<form action = "http://localhost:5000" method = "POST">
         <p><input type = "submit" value = "Back to Main" /></p>
      </form>
   </body>
</html>