<!doctype html>
<html>
    <head><title>Welcome!</title>
    <link rel="stylesheet" href='/static/main.css'/>

  </head>
   <body>
	 <header><div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div>
	</header>

	
	<h1>Result Info</h1> <br>
	Experiments using Sequences and Conditions given:<br>
	{% for value in result2 %}
            <tr>

		<output> {{ value[0] }}</output><br>
               
            </tr>
         {% endfor %}
{% if result3 != none %}


<br>

<table>
<tr><th>Experiment </th><th>Measurement</th><th>Value</th></tr>

 	{% for value in result3 %}
	 <tr>
		<td>{{ value[0] }}</td>
		<td>{{ value[1] }}</td>
		<td>{{ value[2] }}</td>
         	
               
           </tr>
         {% endfor %}

</table>
{% endif %}

 	<form action = "http://localhost:5000" method = "POST">
         <p><input type = "submit" value = "Back to Main" /></p>
      </form>
   </body>
</html>