<!doctype html>
<html>
  <head><title>Welcome!</title></head>
   <body>
	<div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div> 

	
	<h1>Error in DataBase</h1> <br>
	 
         <p>{{ result2 }}</p>
	<p>Pease try action again</p>
      </form>
   </body>
</html>