<!doctype html>
<html>
    <head><title>Welcome!</title>
    <link rel="stylesheet" href='/static/main.css'/>

  </head>
   <body>
	 <header><div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div>
	</header>

      <form action = "http://localhost:5000/expMeasurements" method = "POST">
	<h1>Please Enter Experiment Information</h1>
        <p>Experiment Name: <input type = "text" name = "Experiment Name " /></p>
	<p>(Ex: sequence_condition1_condtitonValue1_condition2.....)</p> 	
        <p><input type = "submit" value = "Continue" /></p>
      </form>
   </body>
</html>