<!doctype html>
<html>
   <head><title>Welcome!</title></head>
   <body>
	<div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div> 

	<h1>Common Measurements </h1>
      <form action = "http://localhost:5000/success" method = "POST">
	 {% for key, value in result.items() %}
            <tr>
		<output>Experiment Name: </output>
               <th> {{ value }} </th> <br> 
               
            </tr>
         {% endfor %}

	 {% for value in result2 %}
            <tr>
		<p>Meas<tab id=t1>urement Name: {{ value[0] }}<br>
		Experiment 1 Value: {{ value[1] }}<br>
		Experiment 2 Value: {{ value[2] }}</p>
         	
               
            </tr>
         {% endfor %}

	<p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>