<!doctype html>
<html>
   <head><title>Welcome!</title></head>
   <body>
	<div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div> 

	<h1>Please Enter Measurement Information for Experiment </h1>
      <form action = "http://localhost:5000/success" method = "POST">
	
	<p>Experiment Name: {{ result }}</p>
	 {% for value in result2 %}
            <tr>
		<output>Measurement Name: </output>
               <th> {{ value[0] }} </th>

         	<p>Measurement Value: <input type = "text" name = {{ value[0] }} /></p>
  		<p> {{ MeasurementValue }} </p>
               
            </tr>
         {% endfor %}
	<p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>