<!doctype html>
<html>
    <head><title>Welcome!</title>
    <link rel="stylesheet" href='/static/main.css'/>

  </head>
   <body>
	 <header><div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div>
	</header> 


      <form action = "http://localhost:5000/displayResults" method = "POST">
	<h1>Please Enter Sequences and Conditions</h1>

	{% if result1|int > 0 %}
	<tr>
		<P>Enter Sequence Names</P>
	</tr>
	{% endif %}
        {% for i in range(0, result1) %}
            <tr>
         	<p>Sequence name #<th> {{ i }} </th>: <input type = "text" name = "Sequence Name #{{ i }}" /></p>
            </tr>
        {% endfor %}


	{% if result2|int > 0 %}
	<tr>
		<P>Enter Condition Names</P>
	</tr>
	{% endif %}	
	{% for i in range(0, result2) %}
            <tr>
         	<p>Condition name #{{ i }}: <input type = "text" name = "Condition Name #{{ i }}" /><br>
		Condition value #{{ i }}: <input type = "text" name = "Condition Value #{{ i }}"</p>
               
            </tr>
         {% endfor %}	
	

	{% if result3|int > 0 %}
	<tr>
		<P>Enter Measurement Names</P>
	</tr>
	{% endif %}
	{% for i in range(0, result3) %}
            <tr>
         	<p>Measurement name #<th> {{ i }} </th>: <input type = "text" name = "Measurement Name #{{ i }}" /></p>               
            </tr>
         {% endfor %}	

        <p><input type = "submit" value = "Continue" /></p>
      </form>
   </body>
</html>