<html>
<head><title>Welcome!</title></head>
   <body>
	<div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div> 

	<h1>Please Select an Option Below</h1>
      <form action = "http://localhost:5000/newCondit" method = "POST">
         <p><input type = "submit" value = "New Condition" /></p>
      </form>
      <form action = "http://localhost:5000/newMesur" method = "POST">
         <p><input type = "submit" value = "New Measurement" /></p>
      </form>
      <form action = "http://localhost:5000/newSeq" method = "POST">
         <p><input type = "submit" value = "New Sequence" /></p>
      </form>
      <form action = "http://localhost:5000/exp" method = "POST">
         <p><input type = "submit" value = "Experiment" /></p>
      </form>
      <form action = "http://localhost:5000/enterCSV" method = "POST">
         <p><input type = "submit" value = "Enter CSV" /></p>
      </form>
      <form action = "http://localhost:5000/expInfo" method = "POST">
         <p><input type = "submit" value = "Get Experiment Info" /></p>
      </form>
      <form action = "http://localhost:5000/sideByside" method = "POST">
         <p><input type = "submit" value = "Get Side by Side Comparison" /></p>
      </form>
      <form action = "http://localhost:5000/results" method = "POST">
         <p><input type = "submit" value = "Get Results" /></p>
      </form>
   </body>
</html>