<!doctype html>
<html>
   <head><title>Welcome!</title></head>
   <body>
	<div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div> 

      <form action = "http://localhost:5000/inputResultsSC" method = "POST">
	<h1>Please Enter List of Sequences and Conditions</h1>
        <p>Number of Sequences: <input type="number" name = "SequenceVal" /></p>
	<p>Number of Conditions: <input type="number" name = "ConditVal" /></p>
	
        <p><input type = "submit" value = "Continue" /></p>
      </form>
   </body>
</html>