<!doctype html>
<html>
   <head>    <title>Welcome!</title>
    <link rel="stylesheet" href='/static/main.css'/>

  </head>
   <body>
	 <header><div>Menu: <a href="/">Home,</a> <a href="/newCondit" method = "GET">New Condition,</a>
	<a href="/newMesur">New Measurement,</a> <a href="/newSeq">New Sequence,</a>
	<a href="/exp">Experiment,</a> <a href="/enterCSV">EnterCSV,</a>
	<a href="/expInfo">Get Experiment Info,</a> <a href="/sideByside">Get Side by Side Comparison,</a>
	<a href="/results">Get Results</a></div>
	</header>

      <form action = "http://localhost:5000/inputResults" method = "POST">
	<h1>Please Enter Number of Sequences and Conditions</h1>
        <p>Number of Sequences: <input type="number" name = "SequenceVal" /></p>
	<p>Number of Conditions: <input type="number" name = "ConditVal" /></p>
	<p>Please Enter the Number of Measurement Values you Wish to Display </p>
	<p>Number of Measurements(Optional): <input type="number" name = "LoopVal" /></p>
        <p><input type = "submit" value = "Continue" /></p>
      </form>
   </body>
</html>